<% include partials/dashboard %>
<div class="container">
    <hr>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Products</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="text" class="form-control" placeholder="Tên" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Hình ảnh" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Chi tiết" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Giá" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Số lượng" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Kích cỡ" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nhãn hiệu" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Chất liệu" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Ngày nhập hàng" disabled></th>
                </tr>
                </thead>
                <tbody>
                    <% prod.forEach(function(product){ %>
                    <tr>
                        <td scope="row"> <a href="/product/<%= product._id %>"><%= product.name %></a></td>
                        <td> <img width="100px" src="<%= product.images[0] %>" alt=""></td>
                            <td><%= product.description %></td>
                            <td><%= product.price %></td>
                            <td><%= product.stock %></td>
                            <td><%= product.size %></td>
                            <td><%= product.labels %></td>
                            <td><%= product.materials %></td>
                            <td><%= product.dateAdded %></td>
                        <td>                            
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
<% include partials/script %>
</body>
</html>